/* style-roboto-test.css */

/**
 * @theme style-roboto-test
 * ^ match this to the filename
 * @auto-scaling true
*/

@import "gaia";
/* possible themes: ( uncover, gaia, default )
 * https://marpit.marp.app/theme-css
*/

/* variables */
:root {
	--top-border-height: 24px;
    --left-border-width: 24px;
    --right-border-width: 24px;
	--footer-n-border-height: calc(30px + 24px);
	--vertical-border-height: calc(var(--top-border-height) + var(--footer-n-border-height));
  	--h1-height: calc(120px + 48px);
	--h2-height: calc(60px + 24px);
	--h3-height: calc(52px + 20.8px);
	--h4-height: calc(44px + 17.6px);
	--h5-height: calc(40px);
	--h6-height: calc(35.992px);
	--p-height: calc(48px + 16px);
	--footnote-height: calc(48px)
}

.slide {
	font-family: "Roboto-Light", sans-serif !important;
}

section {
	font-size: 32px;
	padding: var(--top-border-height) var(--right-border-width) var(--footer-n-border-height) var(--left-border-width);
	display: inherit;
	background: #fff;
	color: #000;
	font-family: "Roboto-Light", sans-serif !important;
	line-height: 1.5;
	max-width: 1280px;
	max-height: 720px;
	width: 1280px;
	height: 720px;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

section p {
	margin: 0;
}

@import "./style-roboto-base.css";
