# Exclude source code and test files
src/**/*.ts
src/test/**
*.map

# Exclude build tools and config
esbuild.js
tsconfig.json
eslint.config.mjs

# Exclude dependencies and lock files
node_modules
.git
.gitignore
pnpm-lock.yaml
package-lock.json

# Exclude development docs
CHANGELOG.md

# Exclude tests and tmp from build
tests/**
tmp/**

# Ensure necessary static resources are included
!src/html/**
!imgs/**
